In [6]:
import pyodbc
server = 'trythesamples.database.windows.net'
database = 'trythesamples37'
username = 'khennenf'
password = 'Itsgone46!'   
driver= '{ODBC Driver 17 for SQL Server}'

with pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("SELECT TOP 3 * FROM rainfall")
        row = cursor.fetchone()
        while row:
            print (str(row[0]) + " " + str(row[1]))
            row = cursor.fetchone()

station date
USC00519397 2010-01-01
USC00519397 2010-01-02

In [10]:
import pandas as pd, pyodbc   

server = 'trythesamples.database.windows.net'
database = 'trythesamples37'
username = 'khennenf'
password = 'Itsgone46!'   
driver= '{ODBC Driver 17 for SQL Server}'
con_string = 'DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password


# con_string = 'DRIVER={SQL Server};SERVER='+ <server> +';DATABASE=' + <database>
cnxn = pyodbc.connect(con_string)
query = """
SELECT TOP 3 * FROM rainfall
"""
result_port_map = pd.read_sql(query, cnxn)
result_port_map

       station        date  prcp  tobs
0      station        date  prcp  tobs
1  USC00519397  2010-01-01  0.08    65
2  USC00519397  2010-01-02     0    63